<!-- Salve este conteúdo no arquivo index.html -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Page Layout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout_body.css') }}">
</head>

<body>

    <!-- Header -->
    <div class="header">
        <div class="menu">
            <a href="/">Home</a>
            <a href="/listafornecedor">Lista de Fornecedor</a>
            <a href="/kanban">Cotações</a>
            <a href="pedido">Pedido</a>
            <div class="gfg">Supply chain</div>
        </div>
    </div>

</body>

</html>

