body {
  background-color: #EBEBEB;
  font-family: "Times New Roman", Times, serif;
}

.container {
  width: 70%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.kanban-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(to right, #254394, #ffaf00);
}

.kanban-heading-text {
  font-size: 1.8rem;
  padding: 0.8rem 1.7rem;
  border-radius: 0.5rem;
  margin: 1rem;
  color: white;
}

.kanban-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kanban-block,
.create-new-task-block {
  padding: 0.6rem;
  width: 32%; /* Ajuste a largura conforme necessário */
  min-width: 14rem;
  min-height: 4.5rem;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.kanban-block:hover,
.create-new-task-block:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

#todo {
  background-color: #ffdddd;
}

#inprogress {
  background-color: #ffd699;
}

#done {
  background-color: #caffbf;
}

.task {
  background-color: #fff;
  margin: 0.2rem 0rem 0.3rem 0rem;
  border: 0.1rem solid #3498db;
  border-radius: 0.5rem;
  padding: 0.8rem;
  color: #333;
  transition: box-shadow 0.3s ease;
}

.task:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

#task-button {
  margin: 0.2rem 0rem 0.1rem 0rem;
  background-color: #3498db;
  border-radius: 0.5rem;
  width: 100%;
  border: 0.2rem solid #3498db;
  padding: 0.6rem 2.7rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#task-button:hover {
  background-color: #2c77b6;
}

.create-new-task-block {
  display: none;
  background: #BDBDBD; /* Cor antes de passar o mouse */
  width: 64.4%;
  flex-direction: column;
  transition: background-color 0.3s ease;
}

.create-new-task-block:hover {
  background-color: #BDBDBD; /* Cor após passar o mouse */
}

.form-row {
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
}

.form-row-label {
  width: 15%;
  padding: 0.2rem;
  padding-right: 0.5rem;
  border: 0.1rem solid white;
  border-right: 0;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
}

.form-row-input {
  border: 0.1rem solid white;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  width: 85%;
}

textarea {
  resize: none;
}

.form-row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.2rem;
}

#edit-button,
#save-button,
#cancel-button {
  margin: 0.2rem 0rem 0.1rem 0rem;
  background-color: white;
  border-radius: 0.2rem;
  width: 49.2%;
  border: 0.25rem solid #595C58;
  padding: 0.5rem 2.7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  color: #000; /* Cor preta */
}

#edit-button {
  display: none;
}
